@import url('./settings.css');

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    margin: 20pt auto;
    background: var(--background-color);
    width: min(95vw, 750pt);
}

a {
    color: inherit;
}

p {
    text-align: justify;
}

/* Nav */
nav {
    display: flex;
    margin: 0 auto 10px auto;
    justify-content: space-between;
    align-items: center;
}

nav #site-title {
    margin: 0;
    font-size: 30pt;
    text-decoration: none;
    color: var(--text-color);
}

nav #menu-links {
    display: flex;
    align-items: center;
    font-size: 15pt;
}

nav #menu-links:first-of-type(a) {
    margin-left: 0;
}

nav a {
    margin: 5pt;
}

/* Content */
#page-content {
    margin: 20pt 0;
}

/* Footer */
footer {
    margin: 10px auto 0 auto;
    text-align: end;
}

footer div {
    margin-left: auto;
}