@import url('./settings.css');

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    margin: 20pt auto;
    background: var(--background-color);
    width: min(95vw, 750pt);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

p {
    text-align: justify;
}

/* Nav */
nav {
    display: flex;
    margin: 0 auto 10px auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: calc(4*var(--default-margin));
    row-gap: var(--default-margin);
}

nav #site-title {
    margin: 0;
    font-size: 30pt;
    color: var(--text-color);
}

nav #menu-links {
    display: flex;
    align-items: center;
    font-size: 15pt;
}

nav #menu-links a:first-of-type {
    margin-left: 0;
}

nav a {
    margin: 5pt;
}

/* Content */
#page-content {
    margin: 20pt 0;
}

/* Footer */
footer {
    margin: 10px auto 0 auto;
    text-align: end;
}

footer #social-links {
    display: flex;
    gap: 15px;
    font-size: 20pt;
    justify-content: center;
}