@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
    --background-color: #efebe9;
    --box-color: #ffffff;
    --text-color: #000000;
    --font-family: 'Noto Serif', serif;
    --default-margin: 0.5em;
    --accent-color: #0b3954;
    --hover-color: #22577A;
}