---
layout: default
---
<div class="card-span-vertical">
    <div class="card">
        <div class="card-title">
            <h2>Projects</h2>
        </div>

        <div class="entry-grid">
            {% for project in site.projects %}
                <div class="entry">
                    {% if project.image %}
                        <img src="/assets/projects/{{project.image}}">
                    {% endif %}
                    <h4>{{project.name}}</h4>
                    <p>{{project.short}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>