---
layout: default
---

<h2>Music</h2>

<p>Some of the bands I am/was a fan of over the years.</p>

<div class="grid grid-cols-1 md:grid-cols-3 gap-2 my-4 text-base">
  {% for band in site.music %}
  <div class="flex items-center gap-2 bg-neutral-800 p-2 rounded-lg">
    <img
      src="{{site.url}}/assets/music/{{ band.image }}"
      alt="{{ band.name }}"
      class="w-16 h-16 rounded-lg object-cover"
    />
    <p>{{ band.name }}</p>
  </div>
  {% endfor %}
</div>

<h2>Movies</h2>

<p>Some movies that have stuck with me.</p>

<div class="grid grid-cols-1 md:grid-cols-3 gap-2 my-4 text-base">
  {% for movie in site.movies %}
  <div class="flex items-center gap-2 bg-neutral-800 p-2 rounded-lg">
    <img
      src="{{site.url}}/assets/movies/{{ movie.image }}"
      alt="{{ movie.name }}"
      class="w-16 h-16 rounded-lg object-cover"
    />
    <p>{{ movie.name }}</p>
  </div>
  {% endfor %}
</div>

<h2>Series</h2>

<p>TV series are not really my cup of tea, but I do remember these well.</p>

<div class="grid grid-cols-1 md:grid-cols-2 gap-2 my-4 text-base">
  {% for show in site.series %}
  <div class="flex items-center gap-2 bg-neutral-800 p-2 rounded-lg">
    <img
      src="{{site.url}}/assets/series/{{ show.image }}"
      alt="{{ show.name }}"
      class="w-16 h-16 rounded-lg object-cover"
    />
    <p>{{ show.name }}</p>
  </div>
  {% endfor %}
</div>
