---
layout: default
title: Projects
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {% assign categories = site.projects | group_by: "category" %}
  {% for category in categories %}
    {% for project in category.items %}
      <div class="box flex flex-col gap-2 content-center">
        <div class="shrink-0 flex gap-2">
          <img
            src="/assets/projects/{{ project.image }}"
            alt="{{ project.name }}"
            class="h-14 w-14 rounded" />
          <div>
            <a
              class="flex"
              href="{{ project.link }}"
              target="_blank">
              <div>{{ project.name }}</div>
            </a>
            <div class="chip">{{ category.name }}</div>
          </div>
        </div>
        <div>
          <div class="text-base">{{ project.content }}</div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>