---
layout: default
title: Projects
---

{% assign categories = site.projects | group_by: "category" %} {% for category
in categories %}
<div class="mb-6">
  <h2>{{ category.name | capitalize }}</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
    {% for project in category.items %}
    <div class="box">
      <a class="flex mb-2" href="{{ project.link }}" target="_blank">
        <div>{{project.name}}</div>
      </a>
      <div class="text-base">{{project.content}}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
