@use "../../node_modules/lichess-pgn-viewer/scss/lichess-pgn-viewer.scss";

.lpv {
    outline: none !important;
}

cg-board {
    background-image: url("/assets/chess/brown.png");
}

coords {
    display: none !important;
}