@import url("/lib/lichess-pgn.css");

.lpv {
  outline: none !important;
}

cg-board {
  background-image: url("/lib/lichess-brown.png");
}

coords {
  display: none !important;
}

.lpv--players.lpv--moves-auto {
  grid-template-rows:
    minmax(2em, auto) auto minmax(2em, auto) var(--controls-height);
}

.lpv__side {
  min-height: 20em;
}

.lpv--moves-false {
  background-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
