@tailwind base;
@tailwind components;
@tailwind utilities;

.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

blockquote {
    @apply max-w-min min-w-fit;
    quotes: none !important;
}

p>img {
    @apply rounded-md !mb-3 w-auto object-contain max-h-96;
    max-width: min(100%, 32rem);
}

iframe {
    @apply mx-auto mb-2;
}

p img+em,
.label {
    @apply inline-block text-center not-italic text-base w-full;
}

.footnotes {
    @apply text-sm max-w-min min-w-fit mt-8;
}

.data-footnote-backref {
    @apply hidden;
}

#footnote-label {
    @apply hidden;
}