.pagefind-search[data-pf-theme="dark"] {
  --pf-background: var(--color-base-100);
  --pf-border: color-mix(in oklab, var(--color-base-content) 20%, transparent);
  --pf-border-focus: color-mix(
    in oklab,
    var(--color-base-content) 35%,
    transparent
  );
  --pf-font: inherit;
  --pf-outline-focus: color-mix(
    in oklab,
    var(--color-base-content) 10%,
    transparent
  );
  --pf-outline-width: 1px;
  --pf-text-muted: color-mix(
    in oklab,
    var(--color-base-content) 50%,
    transparent
  );
  --pf-input-height: 46px;
  --pf-input-font-size: 16px;
  --pf-summary-font-size: 13px;
  --pf-result-title-font-size: 15px;
  --pf-result-excerpt-font-size: 14px;
}

.pagefind-search:has(.pf-input:placeholder-shown):has(.pf-results:empty)
  pagefind-summary {
  display: none;
}

.pagefind-search {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
