---
layout: default
---
<div class="card-span-vertical">
    <div class="card">
        <div class="card-title">
            <h2>Blog</h2>
        </div>

        <div class="entry-grid">
            {% for post in paginator.posts %}
                <div " class="entry">
                    <a href="{{post.url}}">
                        <h4>{{post.title}}</h4>
                    </a>
                    <p>{{post.short}}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">
                <i class="ri-arrow-left-line"></i>
            </a>
        {% endif %}
        <span>
            Page
            {{ paginator.page }}
            of
            {{ paginator.total_pages }}
        </span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">
                <i class="ri-arrow-right-line"></i>
            </a>
        {% endif %}
    </div>
</div>