---
layout: default
title: Blog
---

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
  {% for post in paginator.posts %}
    <div class="box pb-2 flex flex-col gap-3">
      <a href="{{ post.url }}" class="w-full flex relative text-inherit">
        <img
          href="{{ post.url }}"
          src="/assets/blog/{{ post.image }}"
          alt="{{ post.title }}"
          class="object-cover h-40 sm:h-48 w-full" />
        <div class="absolute bg-neutral-800 w-fit left-0 bottom-0 z-20 py-1 px-2 text-center">
          {{ post.date | date: "%b %d, %Y" }}
        </div>
      </a>
      <div>
        <h4 class="mb-1 mx-2">
          <a class="inline-block w-full" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
        <div class="text-base mx-2">
          {{ post.excerpt }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
  <div class="mt-4 mr-1">
    <div class="w-fit mx-auto flex gap-8">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
      {% endif %}

      <div class="flex gap-4">
        {% assign current_page = paginator.page %}
        {% assign page_range_start = current_page | minus: 2 %}
        {% assign page_range_end = current_page | plus: 2 %}

        {% for page in (page_range_start..page_range_end) %}
          {% if page < 1 or page > paginator.total_pages %}
            {% continue %}
          {% endif %}
          {% if page == paginator.page %}
            <span class="font-bold">{{ page }}</span>
          {% elsif page == 1 %}
            <a href="{{ '/blog' | relative_url }}">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}
      </div>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {% endif %}
    </div>
  </div>
{% endif %}