---
export interface Props {
    title: string;
    padTop?: boolean;
}

const { title, padTop = false } = Astro.props;
---

<div class={"text-3xl w-full font-bold mb-4" + (padTop ? " mt-12" : "")}>
    {title}
</div>
