<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/dist/output.css" rel="stylesheet" />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/favicons/apple-icon-57x57.png">
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/favicons/apple-icon-60x60.png">
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/favicons/apple-icon-72x72.png">
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/favicons/apple-icon-76x76.png">
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/favicons/apple-icon-114x114.png">
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/favicons/apple-icon-120x120.png">
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/favicons/apple-icon-144x144.png">
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/favicons/apple-icon-152x152.png">
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicons/apple-icon-180x180.png">
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicons/android-icon-192x192.png">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicons/favicon-32x32.png">
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/favicons/favicon-96x96.png">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% elsif layout.description %}
      <meta name="description" content="{{ layout.description }}" />
    {% elsif site.description %}
      <meta name="description" content="{{ site.description }}" />
    {% endif %}
    <title>
      {% if page.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{
          site.title }}
      {% endif %}
    </title>
    {% assign background = page.background | default: layout.background | default: site.background %}
    {% if background %}
      <link
        rel="preload"
        href="{{site.url}}/assets/background/{{ background }}"
        as="image" />
    {% endif %}
  </head>

  <body class="bg-neutral-950 text-slate-300">
    {% if background %}
      <div class="bg-cover bg-center bg-no-repeat h-screen w-screen brightness-[20%] top-0 fixed" style="background-image: url('{{site.url}}/assets/background/{{ background }}')"></div>
    {% endif %}
    <main class="max-w-3xl mx-auto px-4 py-6 z-10 relative">
      <div class="flex min-w-fit m-4 mt-2 flex-col place-items-center justify-center text-xl no-underline">
        <header class="flex place-items-center gap-4 grow-0">
          <img
            src="{{site.baseurl}}/assets/about-me/bdmendes.jpg"
            alt="logo"
            class="w-32 h-32 rounded-full brightness-90 drop-shadow-2xl" />
          <div class="flex flex-col gap-1">
            <h1 class="w-min">Bruno Mendes</h1>
            <div class="flex gap-4 mt-2">
              {% for page in site.social %}
                <a href="{{ page.url }}" target="_blank">
                  <img
                    class="w-6 h-6"
                    src="{{site.baseurl}}/assets/socials/{{ page.icon }}"
                    alt="{{ page.name }}" />
                </a>
              {% endfor %}
            </div>
          </div>
        </header>
        <nav class="flex mt-8 place-items-center gap-1 justify-center">
          {% assign mainUrl = page.url | split: '/' | slice: 1, 1 | first | prepend: '/' %}
          {% for p in site.navigation %}
            {% if mainUrl == p.url %}
              <a class="nav-btn-selected" href="{{p.url}}">{{ p.name }}</a>
            {% else %}
              <a class="nav-btn" href="{{p.url}}">{{ p.name }}</a>
            {% endif %}
          {% endfor %}
        </nav>
      </div>

      {% if background %}
        {% assign backProps = "backdrop-blur-2xl" %}
      {% else %}
        {% assign backProps = "bg-neutral-900" %}
      {% endif %}
      <div id="content" class="{{backProps}} rounded p-4 mt-6 mb-2">
        {{ content }}
      </div>
    </main>
  </body>
</html>