---
layout: default
---
<div class="card-span-vertical">
    <section class="card" id="bio-card">
        <div>
            <img class="circular" src="{{site.baseurl}}{{site.profile_picture}}" alt="Bruno Mendes's profile picture">
        </div>
        <div id="bio-card-text">
            <a class="card-title" href="/about-me">
                <h2>About me</h2>
                <span class="more-arrow">
                    <i class="ri-arrow-right-s-line"></i>
                </span>
            </a>
            {{content}}
        </div>
    </section>

    <div class="card-span-horizontal">
        <section class="card" id="projects-card">
            <a class="card-title" href="/projects">
                <h2>Projects</h2>
                <span class="more-arrow">
                    <i class="ri-arrow-right-s-line"></i>
                </span>
            </a>

            <div class="entry-column">
                {% for project in site.projects limit:3 %}
                    <div class="entry">
                        <a href="/projects">
                            <h4>{{project.name}}</h4>
                        </a>
                        <p>{{project.short}}</p>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="card" id="blog-card">
            <a class="card-title" href="/blog">
                <h2>Blog</h2>
                <span class="more-arrow">
                    <i class="ri-arrow-right-s-line"></i>
                </span>
            </a>

            <div class="entry-column">
                {% for post in site.posts limit:3 %}
                    <div class="entry">
                        <a href="{{post.url}}">
                            <h4>{{post.title}}</h4>
                        </a>
                        <p>{{post.short}}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    <section class="card">
        <span>Website in construction. Reach me out!</span>
    </section>
</div>
