---
layout: default
---

{% assign prev = page.url | split: '/' | slice: 1, 1 %}

<div class="flex pb-4 gap-4 justify-between">
  <a href="/{{prev}}" class="text-4xl text-sky-300">←</a>
  <div class="flex flex-col sm:flex-row gap-1 sm:gap-4 grow justify-between sm:items-center">
    <h2 class="mt-0.5 mb-0">{{ page.title }}</h2>
    {% unless page.background %}
      <div class="shrink-0 rounded h-fit mb-2 sm:mb-0 sm:p-1 sm:bg-neutral-800 w-fit">
        {{ page.date | date: "%b %d, %Y" }}
      </div>
    {% endunless %}
  </div>
</div>

{{ content }}