---
layout: default
---

{% assign prev = page.url | split: '/' | slice: 1, 1 %}

<h2 class="mb-0 min-w-fit w-min">
  <span class="mr-1">{{ page.title }}</span>
  <span class="text-slate-400 inline-block text-sm align-middle">
    {% if page.year %}
      {{ page.year }}
    {% else %}
      {{ page.date | date: "%b %d, %Y" }}
    {% endif %}
  </span>
</h2>

<div class="mb-3 min-w-fit w-min">
  {% if page.originally %}
    <p class="text-slate-400 mt-1 text-sm">Originalmente
      <span class="italic">{{ page.originally }}</span>
    </p>
  {% endif %}
</div>

{{ content }}

<style>
  #content {
    max-width: fit-content;
  }
</style>