---
layout: default
---

{% assign prev = page.url | split: '/' | slice: 1, 1 %}

<h2 class="mb-3 {% unless page.background %}mr-16{% endunless %}">{{ page.title }}</h2>
{% unless page.background %}
  <div class="absolute bg-neutral-800 w-fit right-0 top-0 z-20 p-1">
    <div class="text-center">{{ page.date | date: "%b %d" }}</div>
    <div class="text-center">{{ page.date | date: "%Y" }}</div>
  </div>
{% endunless %}

{{ content }}

<style>
  #content {
    max-width: fit-content;
  }
</style>